
html{
    font-size: 62.5%;
    background-color: var( --color-background);
    max-width: 1440px;
}

body{
    min-height: 100vh;
    background: url(../images/bg-desktop.svg) no-repeat;
    background-size:cover;
    background-position:bottom;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "header ."
    "illustration description"
    ". footer";
    font-weight:400;
    font-family: 'Open Sans', sans-serif;
    
}

.header{
    grid-area: header;
    margin-left: 55px;
    margin-top: 30px;
    
}

.header .logo{
   width: 180px;
}

.illustration{
    grid-area: illustration;
    margin-left: 90px;
    margin-top: 20px;

   
    
}


.illustration img{
    width:750px;
    height:530px;
  
}

.description{
    grid-area: description;
    margin-top:80px;
    width:450px;
    margin-left:25px;
    
}

.description .titulo{
    font-weight: 600;
    font-size: 3.2rem;
    color: #ffff;
    font-family: 'Poppins', sans-serif;
    padding: 10px;
    

}

.description .info{
    color: #fff;
    font-size: 1.5rem;
    line-height:22px;
    padding: 10px;
}

.description .register{
    width: 180px;
    height: 45px;
    margin-top: 20px;
    margin-left: 10px;
    font-size: 1.5rem;
    color:var(--color-background);
    border-radius: 25px;
    font-family: 'Poppins', sans-serif;
    box-shadow:4px 6px rgba(0, 0, 0, 0.1);
    transition: 0.3s ease-in-out;
}

.description .register:hover{
    background-color: var(--color-active);
    cursor: pointer;
    color: #fff;
    
}

.footer{
    grid-area: footer;
    
}

.footer .social ul{
    display: flex;
    justify-content:right;
    gap: 12px;
    margin-right: 20px;
    margin-top: -40px;
    
}

.footer .social i{
    font-size: 1.5rem;
    color: #fff;
    border-radius: 50%;
    border: solid 1px #fff;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s ease-in-out;
    
    
}

.footer .social ul li i:hover{
    color:var(--color-active);
    border: solid 1px var(--color-active);
    cursor: pointer;
}

